  <div class="formular">
  <h3>Vorname</h3>
  <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Vorname" aria-label="Recipient's ersternames" aria-describedby="basic-addon2">
  </div>
  <h3>Nachname</h3>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Nachname" aria-label="Recipient's ersternames" aria-describedby="basic-addon2">
  </div>
  <h3>Adresse</h3>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Nachname" aria-label="Recipient's ersternames" aria-describedby="basic-addon2">
  </div>
    <h3>PLZ</h3>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Nachname" aria-label="Recipient's ersternames" aria-describedby="basic-addon2">
  </div>
  <h3>Ort</h3>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Nachname" aria-label="Recipient's ersternames" aria-describedby="basic-addon2">
  </div>
  <h3>email</h3>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Nachname" aria-label="Recipient's ersternames" aria-describedby="basic-addon2">
  </div>
  <h3>Geburtstag</h3>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Nachname" aria-label="Recipient's ersternames" aria-describedby="basic-addon2">
  </div>
  <h3>Telephone</h3>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Nachname" aria-label="Recipient's ersternames" aria-describedby="basic-addon2">
  </div>
    <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">@example.com</span>
  </div>
</div>
</div>