<div id="search-component">
  <h4>Lehrer Suchen</h4>



  <div class="input-group mb-3">
    <input type="text" class="form-control" #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="lehrersuchen"  aria-label="Recipient's username" aria-describedby="basic-addon2">

  </div>

  <ul class="list-group">
    <li *ngFor="let teacher of teachers$ | async | slice:0:5 " class="list-group-item" > <a routerLink="/teacher-detail/{{teacher.id}}">
      {{teacher.firstname}} {{teacher.lastname}}
    </a></li>

  </ul>
  <button type="button" class="btn btn-primary" routerLink="/newTeacher">Neuer Lehrer</button>
  <button type="button" class="btn btn-primary" routerLink="/students">Primary</button>
</div>