<h2>Students</h2>
<!--Nurch Die liste displayen <!--<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>-->

<ul class="heroes">
  <li *ngFor="let student of students">
    <a routerLink="/detail/{{student.id}}">
      <span class="badge">{{student.id}}</span> {{student.firstname}} {{student.lastname}}
    </a>
    <button class="delete" title="delete student"
            (click)="delete(student)">x</button>
  </li>
</ul>
<div>
  <label>Student name:
    <input #studentName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(studentName.value); studentName.value=''">
    add
  </button>
</div>
